p {
    color:red;
    background-color:black;
    text-align:center;
    font-size:10px;
    font-weight:100px;
    border:dotted;
}

div {
    color:red;
    background-color:black;
    text-align:center;
    font-size:10px;
    font-weight:100px;
    border:dotted;
}