/*ღილაკი JOIN US*/
#button1 {
    color:aqua;
    text-align:right;
}

body {
    /*ვებსაიტის ფონის ფერი*/
    background-color:darkblue;
    text-align:center;
}

#p1 {
    color:aqua;
}

#button2 {
    color:aqua;
}

#button3 {
    color:darkblue;
}